*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    font-kerning: normal;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1100; /* Adjust the value as needed */
    background-color: whitesmoke;
    padding: 0 35px 15px;
    margin-bottom: -20px;
    height: 60px;
}
#logo{
    margin: 1px 10px 1px 0px;
    max-width: 53px;
    max-height: 53px;
    float: left;
}
/* for menu */
.menu{
    display: none;
    margin: 9px 0;
    list-style: none;
    padding: 0;
    float: left;
}
ul.dropdown a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 30px;
}
/* sign-log-icon */
#sign-log-icon{
    display: none;
    margin: 9px 10px;
    float: right;
    list-style: none;
    width: 1;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul.dropdown1 a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 30px;
    padding: 5px 30px;
    
}

#sign-log-icon ul.dropdown1 {
    list-style: none;
    display: none;
    background-color: rgb(250, 237, 250);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 1000;
    padding: 0;
    text-align: center;
}


.signup{
    background-color: #FF90BC;
    border-radius: 100px;
    box-shadow: rgba(150, 119, 125, 0.2) 0 -25px 18px -14px inset, rgba(255, 192, 203, .15) 0 1px 2px, rgba(255, 192, 203, .15) 0 2px 4px, rgba(255, 192, 203, .15) 0 4px 8px, rgba(255, 192, 203, .15) 0 8px 16px, rgba(255, 192, 203, .15) 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    font-weight: lighter;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    font-size: 16px;
    color: whitesmoke;
    font-family:'Trebuchet MS', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px; 
    z-index: 2;
    line-height: 30px;
    position: relative;
  }
  .signup:hover{
    box-shadow: pink;
    transform: scale(1.05) rotate(1.2deg);
    color: black;
  }
  .login{
    border-radius: 40px 100px 100px 40px;
    box-shadow: rgba(150, 119, 125, 0.2) 0 -25px 18px -14px inset, rgba(255, 192, 203, .15) 0 1px 2px, rgba(255, 192, 203, .15) 0 2px 4px, rgba(255, 192, 203, .15) 0 4px 8px, rgba(255, 192, 203, .15) 0 8px 16px, rgba(255, 192, 203, .15) 0 16px 32px;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 5px 16px;
    text-decoration: none;
    transition: all 250ms;
    font-size: 16px;
    font-family:'Trebuchet MS', sans-serif;
    user-select: none;
    touch-action: manipulation;
    width: 110px; background-color: rgb(250, 237, 250); 
    text-align: right; 
    margin-left: -40px;
    z-index: 1;
    line-height: 30px;
  }
  
  .login:hover{
    color: white;
    background-color: #FF90BC;
    box-shadow: pink;
    transform: scale(1) rotate(-1deg);
  }
  
  .button-container{
    float: right;
    margin: 9px 0;
  }
  .button-35 {
    background: white;
    box-shadow: #FF90BC 0 10px 20px -10px;;
    border: 2px solid #FF90BC;
    border-radius: 2rem; /* Adjusted border-radius for smaller corners */
    color: #FF90BC;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    opacity: 1;
    overflow: hidden;
    padding: 0.5rem 1rem; /* Adjusted padding for a smaller button */
    font-family: 'Trebuchet MS', sans-serif;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    cursor: pointer;
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 180px;
    word-break: break-word;
    border: 0;
    border: 1px solid rgb(210, 76, 154);
    text-transform: capitalize;
  }
  
  .button-35::after {
    background-color: #FF90BC;
    border-radius: 2rem; /* Adjusted border-radius for smaller corners */
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
    
  }
  
  .button-35:hover::after {
    transform: translate(0, 0);
  }
  
  .button-35:hover {
    border: 2px solid #FF90BC;
    color: white;
    transform: scale(1.05);
    will-change: transform;
  }
  
  

  /* dropdown */
ul.header-right{
    margin: 0;
    display:flex;
    float: left;
    list-style: none;
    padding: 0;
  }

ul.header-right li.nav:hover {
    background-color: #FF90BC;
    border-left: 0.5px ridge rgb(175, 174, 174);
    border-right: 0.5px ridge rgb(175, 174, 174);
  }

ul.header-right li {
  text-align: center;
  padding: 12px 12px 12px 12px;
  font-size: 16px; 
  line-height: 35px;
  cursor: pointer;
}


.link{
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

ul.dropdown {
    list-style: none;
    display: none;
    background-color: rgb(250, 237, 250);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 13px -12px -26.5px;
    border: none;
    padding: 0;
    position: absolute;
    z-index: 1000;
    left: 100px;
    
}

li.nav1:hover ul.dropdown,  li.nav1:hover ul.dropdown1{
    display: block;
     animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
ul.dropdown li{
    width: 100%;
    text-align: center;
    line-height: 15px;
    padding: 15px;
    color: rgb(0, 0, 0);
}
ul.dropdown li a {
    padding: 10px 15px;
}
ul.dropdown a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s;
}

li.nav1 ul.dropdown li:hover{
    border-bottom: 0.5px ridge rgb(175, 174, 174);
    border-top: 0.5px ridge rgb(175, 174, 174);
}



/* for footer */
footer{
    padding: 20px 0;
    margin: 0;
    background-color: #FF90BC;
    color: whitesmoke;
}

footer ul li{
list-style: none;
padding: 3px 0;
}
footer a {
  color: whitesmoke;
  position: relative;
  text-decoration: none;
}

footer a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: whitesmoke;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

footer a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}



/* para sa our services */
.section{
    position: relative;
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    flex-direction: column;
    margin: 60px auto;
    width: 95%;
  }

p{
    font-size: 16px;
    margin-bottom: 30px;
}
/* for grided our core values */
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(11.25rem, 100%), 1fr));
    grid-gap: 1rem;
    margin: 40px 10%;
}
.box
{
    max-width: 300px;
    width: 100%;
    padding: 0 10px;
    position: relative;
}

.box h3{
    text-align: center;
    font-size: 16px;
    font-kerning: auto;
    background-color: #8ACDD7;
    border-radius: 3px;
    height: 6%;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5) ;
    margin-top: 20px;
position: relative;
}
.box p{
    font-size: 16px;
    font-kerning: normal;
    position: relative;
    text-align: center;
}

.core h1{
    font-size: 41.89px;
    color: #8ACDD7;
    margin: 0;
}
.box img {
    width: 200px;
    height: 180px;
    margin: 0;
    position: relative;
    top: 0; /* Set top to 0 to avoid vertical centering */
    left: 50%;
    transform: translateX(-50%);
  }
  

@media only screen and (max-width: 968px) {
    .header{
        padding: 0 20px;
    }

}
@media only screen and (max-width: 806px) {
    div.header{
        padding: 0 20px;
    }
}

@media only screen and (max-width: 650px) {

    .link{
        padding-left: 3px;
        padding-right: 3px;
     }

}
@media only screen and (max-width: 570px) {
    .button-container{
        display: none;
    }
    #sign-log-icon{
        display: block;
    }
}

  @media only screen and (max-width: 704px) {
    .header{
        padding: 0;
    }
    .signup{
        margin-left: 0px;
    }
    #logo{
        width: 100px;
    }

  

    .header ul.header-right li{
        padding: 12px 6px;
    }
  }

  @media only screen and (max-width: 530px){
    .header-left{
        display: none;
    }
    .menu{
        display: block;
    }
    ul.dropdown li{
        padding: 0;
    }
    ul.dropdown {
        list-style: none;
        display: none;
       
        margin: 8px -12px -26.5px;

        left: 60px;
    }
  }


  @media only screen and (max-width: 469px){
    .container{
        margin-top: -50px;
    }
    
    .h1, .core h1{
        font-size: 25.89px;
    }
}


@media only screen and (max-width: 394px){
    .container{
        margin-top: -150px;
    }
}
@media only screen and (max-width: 300px){
    .container{
        margin-top: -200px;
    }
}


  